.main{
  margin-left: 110px;
}

/* Responsive layout */
@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 65px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    margin-top: 60px;
  }
}